*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color:navy;
    color:aliceblue;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
.choice:hover{
    /* opacity: 0.7; */
    cursor:pointer;
    background-color: navy;

}
.choice{
    height:160px;
    width:160px;
    border-radius: 50%;
    border: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 4rem;
}
.scoreboard{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    gap: 7rem;
}

#your,#comp{
    font-size: 3rem;
}
#msg{
    background-color: cadetblue;
    font-size: 1.5rem;
    height: 2.4rem;
    line-height: 2.4rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}